<h1>All Lego Sets</h1>

<div class="sort-options">
<%= link_to "Price: Low to High", lego_sets_path(query: params[:query], sort: "price_low_to_high"), class: "sort-link" %> |
<%= link_to "Price: High to Low", lego_sets_path(query: params[:query], sort: "price_high_to_low"), class: "sort-link" %>
<%= link_to "Show All", lego_sets_path, class: "filter-link" %>
<%= link_to "Adult", lego_sets_path(category: "adult"), class: "filter-link" %>
<%= link_to "Child", lego_sets_path(category: "child"), class: "filter-link" %>
</div>

<div class="lego-sets">
<% @lego_sets.each do |lego_set| %>
  <div class="lego-set">
    <%= image_tag lego_set.image, alt: lego_set.title %>
    <h2><%= lego_set.title %></h2>
    <p>Price: <%= number_to_currency(lego_set.price) %></p>
    <%= link_to "View Details", lego_set_path(lego_set), class: "btn btn-primary" %>
  </div>
<% end %>
</div>
<div class="paginate-lego-sets">
  <%= paginate @lego_sets %>
</div>


