<h2>Featured Sets</h2>
<div class="lego-sets">
  <% @featured_lego_sets.each do |lego_set| %>
    <div class="lego-set">
      <%= image_tag lego_set.image, alt: lego_set.title %>
      <h2><%= lego_set.title %></h2>
      <p>Price: <%= number_to_currency(lego_set.price) %></p>
      <%= link_to "View Details", lego_set_path(lego_set), class: "btn btn-primary" %>
      <%= link_to "Add to Cart", add_to_cart_path(lego_set_id: lego_set.id), method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<h2>Recently Added</h2>
<div class="lego-sets">
  <% @recent_lego_sets.each do |lego_set| %>
    <div class="lego-set">
      <%= image_tag lego_set.image, alt: lego_set.title %>
      <h2><%= lego_set.title %></h2>
      <p>Price: <%= number_to_currency(lego_set.price) %></p>
      <%= link_to "View Details", lego_set_path(lego_set), class: "btn btn-primary" %>
      <%= button_to "Add to Cart", add_to_cart_path(lego_set_id: lego_set.id), method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<h2>Recently Updated</h2>
<div class="lego-sets">
  <% @recently_updated_lego_sets.each do |lego_set| %>
    <div class="lego-set">
      <%= image_tag lego_set.image, alt: lego_set.title %>
      <h2><%= lego_set.title %></h2>
      <p>Price: <%= number_to_currency(lego_set.price) %></p>
      <p><strong>Last Updated:</strong> <%= lego_set.updated_at.strftime("%B %d, %Y") %></p>
      <%= link_to "View Details", lego_set_path(lego_set), class: "btn btn-primary" %>
      <%= link_to "Add to Cart", add_to_cart_path(lego_set_id: lego_set.id), method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>