<nav class="navbar">
<div class="nav-left">
  <%= image_tag 'block.png', alt: 'Bricktown Logo', class: 'nav-logo' %>
  <h1><strong>Bricktown</strong></h1>
  <p class="nav-links" ><%= link_to "Home", root_path %></p>
  <p class="nav-links" ><%= link_to "Sets", lego_sets_path %></p>
  <p class="nav-links" ><%= link_to "About", static_page_path("about") %></p>
  <p class="nav-links" ><%= link_to "Contact", static_page_path("contact") %></p>
  <p class="nav-links" ><%= link_to "Cart (#{current_cart.values.sum})", cart_path, class: "nav-link cart-link" %></p>
  <p class="nav-links"><%= link_to "My Orders", orders_path, class: "nav-link" %></p>
  <div class="nav-search">
    <%= form_with url: lego_sets_path, method: :get, local: true, class: 'search-form' do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search Lego Sets", class: "search-input" %>
    <%= select_tag :category, options_for_select([["All Categories", "all"], ["Adult", "adult"], ["Child", "child"]], params[:category]), class: "search-dropdown" %>
    <%= submit_tag "Search", class: "search-button" %>
  <% end %>
  </div>
</div>
<div class="nav-right">
  <% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <%= link_to "My Account", edit_user_registration_path %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Register", new_user_registration_path %>
<% end %>
</div>
</nav>